#border{
	width:800px;
	
	
	background-color: #fffdd0;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#subhead{
	margin-left:auto;
	margin-right:auto;
	vertical-align:-5000px;
}

html{
	background-color:#101126;
	
}
h1{
	color:#91640e;
	text-align:center;
	line-height:200px;
	font-size:90pt;
	font-family: 'Pacifico', cursive;
	
}
h2{
	color:#91640e;
	text-align:center;
	line-height:1px;
	font-size:45pt;
	font-family: 'Oleo Script', cursive;
	vertical-align: 50px;
	
}

#text{
	color:#91640e;
	text-align:left;
	font-size:25pt;
	font-family: 'Oleo Script', cursive;
}

.backInstructions{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width : 750px; 
	
}
#menu007{
	
	margin-left:auto;
	margin-right:auto;
	width:600px;
	font-size:40pt;
	padding-bottom:2px;
}
a:hover { 
    color: #101126;
}
#center007{
	
	margin-left:auto;
	margin-right:auto;
	width:600px;
	
}
#button{
	text-align:center;
	
	padding:10px;
	border-style: solid;
    border-width: 5px;
	border-radius: 25px;
}
a{
	text-decoration:none;
	color:#91640e;
}
